<div class="container mt-5">
  <div class="alert alert-success" role="alert"><%= desc %></div>
  <a href="/<%= link %> ">
    <button class="btn btn-success">Kembali ke Halaman Utama</button>
  </a>
</div>
