<div class="container" style="margin-top: 5em">
  <div class="row mb-3">
    <div class="col-sm-12 col-lg-6">
      <p class="fs-4">Selamat datang di website kami 👋</p>
      <p class="fw-bold">Terima kasih kepada tuhan yang maha esa karena berkatnya kami dapat menyelesaikan website sederhana dengan tema toko buku</p>
      <p class="text-muted">
        Website ini dibuat dengan Teknologi HTML CSS Dan Javascript dengan bantuan framework NodeJS Express bagian Backend dan Bootstrap untuk proses styling.
        <br />
        <br />
        Kami harap teman-teman semua suka dan dapat menggunakannya dengan baik
        <br />
        Mohon maaf apabila masih terdapat banyak bug ataupun error lainnya, karena website ini masih jauh dari kata sempurna.
        <br />
        Sekian dari kami selebihnya mohon maaf dan selamat beraktifitas.
        <br />
        <!-- <p>Salam dari kami <span class="fw-bold">Kelompok B 1</span> dengan tema toko buku <i class="bi bi-heart-fill text-success"></i></p> -->
      </p>
    </div>
    <div class="col-sm-12 col-lg-6">
      <h5 class="fw-bold my-3">Tentang Website Ini</h5>
      <p class="text-muted">
        BookStores adalah toko buku online terbesar dan terlengkap di Indonesia yang menyediakan aneka buku berkualitas
        <br />
        <br />
        Para pelanggan dapat berbelanja dan melakukan pembelian dari BookStores terdekat di kota Anda. Dan pengiriman pun dapat dilakukan dari seluruh toko BookStores se-Indonesia.
        <br />
        <br />
        Misi kami adalah meningkatkan literasi dan memberikan kemudahan akses pada dunia pengetahuan di seluruh Indonesia dengan memanfaatkan teknologi.
        <br />
        <br />
        Kenyamanan dan kepuasan para pelanggan merupakan prioritas kami. Kami ingin memberikan pengalaman yang lebih kepada para pelanggan di saat pelanggan melakukan proses pembelanjaan baik online maupun offline, dengan terus
        mengembangkan fitur-fitur produk. Memberikan pelayanan yang terbaik menjadi tujuan kami dengan dukungan manajemen yang proaktif dan kreatif.
      </p>
    </div>
    <div class="col-lg-12 author fw-bold text-success text-center d-flex justify-content-center flex-wrap mt-3">
      <p class="text-black">created by :</p>
      <a href="https://justnotiyann.github.io" target="_blank" class="text-success">
        <p class="mx-3">Muhammad Fitrian Shousyade Almadina</p>
      </a>
      <a href="" class="text-success">
        <p class="mx-3">Indra</p>
      </a>
      <a href="" class="text-success">
        <p class="mx-3">Rizki Ramdani</p>
      </a>
      <a href="" class="text-success">
        <p class="mx-3">Angga Saputra</p>
      </a>
      <a href="" class="text-success">
        <p class="mx-3">Aldi Solihin Fauzan</p>
      </a>
    </div>
  </div>
</div>
