<div class="container p-5" style="margin-top: 10em">
  <div class="row">
    <div class="col-12">
      <form action="/" method="post">
        <div class="col-6">
          <div class="mb-3">
            <label for="" class="form-label">Masukkan email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Masukkan email" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Masukkan Password </label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Masukkan password" />
          </div>
        </div>
        <button class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>
