<div class="container section-margin">
  <div class="row">
    <div class="col-6">
      <h5 class="fw-bold">Selamat datang</h5>
      <p>Cari data terkait</p>
      <a href="">
        <button class="btn btn-success">Klik Me</button>
      </a>
    </div>
  </div>
</div>
