<div class="container p-5" style="margin-top: 5em">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-12 col-md-6">
      <h3 class="fw-bold text-success">Selamat datang,</h3>
      <p class="text-muted">Silahkan masukkan email dan password anda untuk akses semua data</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="alert alert-<%= color %>" role="alert"><%= desc %></div>
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label fw-bold">Masukkan Email</label>
          <input type="email" class="form-control" required name="email" id="email" placeholder="Masukkan email anda" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label fw-bold">Masukkan Password</label>
          <input type="password" class="form-control" required name="password" id="password" placeholder="Masukkan password anda" />
        </div>
        <button class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>
