<form method="post">
  <li class="login-form">
    <input type="email" name="email" placeholder="email" required />
    <input type="password" name="password" placeholder="password" required />
    <input class="submit-btn" type="submit" name="login" value="Login" />
  </li>
</form>
